.bg-image {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: appear 1s ease-in-out 1s forwards;
}

.bg-wrap {
    position: relative;
    overflow: hidden;
}

/* appear animation */
@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
