.card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.card-animation {
    transition: background-color 1s ease-out;
}
.bg-card-image {
    filter: brightness(0.1);
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 120%;
    animation: appear 1s ease-in-out 0s forwards;
    transition: 1.5s;
    object-fit: cover;
}

.bg-card-wrap {
    position: relative;
    overflow: hidden;
}

.bg-card-wrap:hover .bg-card-image {
    top:-20px;
    filter: brightness(0.6);
}
